<app-loading *ngIf="loading"></app-loading>

<div class="row webmotors">

  <div class="container">

    <div class="w-100 logo-area">
      <img src="../assets/webmotors.svg" alt="logo">
    </div>

    <div class="row">
      <div class="w-100 nav">
        <div>
          <ul>
            <li [class.active]="abaAtiva == 1" (click)="abaAtiva = 1">
              <div class="centralizar-abaixo">
                <img src="../assets/icon-search-car-red.svg" alt="" *ngIf="abaAtiva == 1">
                <img src="../assets/icon-search-car.svg" alt="" *ngIf="abaAtiva != 1">
              </div>
              <div>
                <p class="t-1">Comprar</p>
                <p class="t-2">CARROS</p>
              </div>
            </li>
    
            <li [class.active]="abaAtiva  == 2" (click)="abaAtiva = 2">
              <div class="centralizar-abaixo">
                <img src="../assets/icon-search-bike-red.svg" alt="" *ngIf="abaAtiva == 2">
                <img src="../assets/icon-search-bike.svg" alt="" *ngIf="abaAtiva != 2">
              </div>
              <div>
                <p class="t-1">Comprar</p>
                <p class="t-2">MOTOS</p>
              </div>
            </li>
    
          </ul>
        </div>
        <div class="centralizar omitir-celular">
          <button class="button-outline">Vender meu carro</button>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="w-100">
        <div class="card">

          <form [formGroup]="formFiltro">
    
            <div class="row">
              <div class="w-100">

                <div class="checkbox">
                  <input type="checkbox" id="novos" class="checkbox__input" formControlName="novos">
                  <label for="novos" class="checkbox__label">Novos</label>
                </div>

                <div class="checkbox">
                  <input type="checkbox" id="usados" class="checkbox__input" formControlName="usados">
                  <label for="usados" class="checkbox__label">Usados</label>
                </div>

              </div>
            </div>

            <div class="row">

              <div class="or-area mr-desk">

                <div class="onde">
                  <img class="pr-1" src="../assets/icon-location.svg" alt="">
                  <span class="label pr-1">Onde: </span>
                  <input type="text" id="local" formControlName="local">
                  <img src="" alt="">
                </div>

                <div class="raio">
                  <span class="label pr-1">Raio: </span>
                  <select name="select" id="raio" formControlName="raio">
                    <option value=""></option>
                    <option value="50">50Km</option> 
                    <option value="100">100km</option>
                    <option value="200">200Km</option>
                  </select>
                </div>

              </div>

              <div class="w-25 mr-desk">
                <div class="input-area">
                  <span class="label pr-1">Marca: </span>
                  <select name="select" id="marca" formControlName="marca" (change)="alterouMarca()">
                    <option value=""></option>
                    <option [value]="marca.ID" *ngFor="let marca of marcas">{{marca.Name}}</option>
                  </select>
                </div>
              </div>

              <div class="w-25 no-margin">
                <div class="input-area">
                  <span class="label pr-1">Modelo: </span>
                  <select name="select" id="modelo" formControlName="modelo" (change)="alterouModelo()">
                    <option value=""></option>
                    <option [value]="modelo.ID" *ngFor="let modelo of modelos">{{modelo.Name}}</option>
                  </select>
                </div>
              </div>

              <div class="w-25 mr-desk">
                <div class="input-area no-label">
                  <select name="select" id="ano" formControlName="ano">
                    <option value="" disabled selected hidden>Ano Desejado</option>
                    <option value="2020">2020</option> 
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                  </select>
                </div>
              </div>

              <div class="w-25 mr-desk">
                <div class="input-area no-label">
                  <select name="select" id="faixaPreco" formControlName="faixaPreco">
                    <option value="" disabled selected hidden>Faixa de Preço</option>
                    <option value="1">Entre R$ 0 a R$20.000</option> 
                    <option value="2">Entre R$20.000 a R$40.000</option>
                    <option value="3">Entre R$40.000 a R$60.000</option>
                  </select>
                </div>
              </div>

              <div class="w-50 no-margin">
                <div class="input-area">
                  <span class="label pr-1">Versão: </span>
                  <select name="select" id="versao" formControlName="versao">
                    <option value=""></option>
                    <option [value]="versao.ID" *ngFor="let versao of versoes">{{versao.Name}}</option>
                  </select>
                </div>
              </div>

              <div class="w-50 mt-1 centralizar-vertical buscar">
                <a href="">> Busca Vançada</a>
              </div>

              <div class="w-50 no-margin mt-1 pl-1 centralizar">
                <a class="mr-1 limpar" href="javascript:;" (click)="limparFiltro()">Limpar filtros</a>

                <button class="primary-button">
                  VER OFERTAS
                </button>

              </div>

            </div>

          </form>

        </div>
      </div>

      <div class="w-100 mostrar-celular ">
        <div class="centralizar ">
          <button class="button-outline">Vender meu carro</button>
        </div>
      </div>

    </div>
    


  </div>

</div>